<!-- SINGLE VUE FILE -->
<!-- HTML , JAVASCRIPT Y CSS EN UN SOLO LUGAR -->

<!-- Template es donde siempre defino el HTML -->
<template> 
    <div>
        La fecha de hoy es: {{fecha}} <br>
        <span v-if="color" >Ahora me ves</span>
        <button v-on:click="color = !color">Ocultar/Mostrar</button>
    </div>
</template>

<!-- en script defino el Javascript -->


<script>
    export default {
        data () {
            return {
                fecha: new Date().toLocaleString(),
                color: true
            }
        }
    }
</script>

<!-- para el css utilizamos style -->

<style>



</style>