
.navSection {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.navSection .logo {
  width: 100px;
}

.navSection .navContainer{

}

.navSection .navContainer .navBarWrapper{
    list-style: none;
    margin: 0;
    display: flex;
    gap: 10px;


}

.navContainer .navBarWrapper .navItems{
    font-family: sans-serif;
    font-size: 20px;
}

.navBarWrapper .navItems a{
    color: black;
    text-decoration: none;
}

.navBarWrapper .navItems a:hover{
    color: rgb(255, 0, 0);
}

/* .navBarWrapper .navItems a:focus{
    color: rgb(255, 0, 0);
} */

/* .navBarWrapper .navItems a:active{
    color: rgb(255, 0, 0);
} */

