html, body {
    margin: 0;
}

.container {
    background-color: #19bc9d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .envoltorioLogin {
    border-radius: 5px;
    overflow: hidden;
    background: white;
    width: 100%;
    max-width: 350px;
}

.envoltorioLogin .titulo {
    background-color: #14a083;
}

.envoltorioLogin .titulo h1 {
    margin: 0;
    padding: 20px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    animation: showtext 2s 1;
}

@keyframes showtext {
    0% {
        margin-left: -270px;
        opacity: 0;
    }

    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

.envoltorioLogin .actions {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}


/* .envoltorioLogin .actions */


.envoltorioLogin .actions .inputIconContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.fa-solid {
    padding: 10px;
    background: #14a083;
    border-radius: 5px 0px 0px 5px;
    color: white;
}


.envoltorioLogin .actions .inputIconContainer .usuario, 
.envoltorioLogin .actions .inputIconContainer .contraseña {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

.envoltorioLogin .actions h4{
    margin: 0;
    text-align: left;
    width: 100%;
    font-family: sans-serif;
}

.envoltorioLogin .actions h4 a{
    text-decoration: none;
    color: #399080;
    font-weight: 400;
}

.envoltorioLogin .actions button{
    margin: 10px 0;
    border: none;
    text-align: center;
    width: 100%;
    height: 38px;
    background-color: #14a083;
    color: white;
    font-size: 14px;
    border-radius: 5px;

}

.envoltorioLogin .actions .texto-registro {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}
.envoltorioLogin .actions .texto-registro .enlace-registro {
    color: #399080;
    text-decoration: none;
}

