<template>
  <div class="home">
    <productoVue />
  </div>
</template>

<script>
// @ is an alias to /src
import productoVue from '@/components/producto.vue';

export default {
  name: 'HomeView',
  components: {productoVue}
}
</script>
